$colorWhite: #ffffff;
$colorBlack: #000000;
$colorGreen: #00ff07;
$colorTeal: #00e4fa;
$colorRed: #ff1900;
$colorYellow: #ffff00;
$colorPurple: #d600ff;
$colorPink: #ff00c2;
$colorBlue: #0400ff;
$colorOrange: #ff4300;
