@import "./styles/text.scss";
@import "./styles/colors.scss";
@import "./styles/fonts.scss";
@import "./styles/effects.scss";

html,
body {
  background-color: $colorBlack;
}

body {
  margin: 0;
  color: $colorWhite;
  font-family: $bodyFont;
  @include defaultTextSizing();

  h1 {
    text-transform: uppercase;
  }
}
